<link href="~/css/style-login.css" rel="stylesheet" type="text/css">
<main>

    <section id="login">
        <h2>Login</h2>
        <form method="POST" action='@Url.Action("Logar", "Cadastro")'>

            <br />
            <div>
                <label for="usuario">Usuario</label>
                <br />
                <input type="text" name="Usuario" placeholder="Usuario">
            </div>

            <div>
                <label for="senha">Senha</label>
                <br />
                <input type="password" name="Senha" placeholder="Senha">
            </div>

            <input type="submit" value="Entrar!" >
        </form>

    </section>

    <section id = espaco>

    </section>

</main>

