<link href="~/css/style-local.css" rel="stylesheet" type="text/css">
<main>

  <form method="POST" action='@Url.Action("Index","Local")'></form>

    <section id="local">
        <img id="foto" src="img/Fotos/Local final.png">
    </section>
    
    <section id="endereco">
        <div>
            <img src="img/Icons/309849c5815761081926477e5e872f1e.png">
            <p><a href="https://goo.gl/maps/chnVMwMPbuJCCoFn7">Endereço</a></p>
        </div>
            
    </section>

<br />

    <section id="planta">
          <h2>Planta Baixa</h2>
          <img src="img/Fotos/evento-social-casa-vetro2.png">
    </section>


    <section id="fotos">
        <h2>Fotos</h2>
        
        <h3>Casamentos</h3>
        <div class="slidershow middle">

                <div class="slides">
                  <input type="radio" name="r" id="r1" checked>
                  <input type="radio" name="r" id="r2">
                  <input type="radio" name="r" id="r3">
                  <input type="radio" name="r" id="r4">
                  <input type="radio" name="r" id="r5">
                  <div class="slide s1">
                    <img src="img/Fotos/Casamentos/Casamentos 1.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Casamentos/Casamento 2.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Casamentos/Casamento 3.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Casamentos/Casamento 4.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Casamentos/Casamento 1.jpg" alt="">
                  </div>
                </div>
          
                <div class="navigation">
                  <label for="r1" class="bar"></label>
                  <label for="r2" class="bar"></label>
                  <label for="r3" class="bar"></label>
                  <label for="r4" class="bar"></label>
                  <label for="r5" class="bar"></label>
                </div>
              </div>

            <br />

        <h3>Formaturas</h3>
        <div class="slidershow middle">

                <div class="slides">
                  <input type="radio" name="r" id="r6" checked>
                  <input type="radio" name="r" id="r7">
                  <input type="radio" name="r" id="r8">
                  <input type="radio" name="r" id="r9">
                  <input type="radio" name="r" id="r10">
                  <div class="slide s1">
                    <img src="img/Fotos/Formaturas/Formatura 1.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Formaturas/Formatura 4.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Formaturas/Formatura 3.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Formaturas/Formatura 2.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Formaturas/Formatura 1.jpg" alt="">
                  </div>
                </div>
          
                <div class="navigation">
                  <label for="r6" class="bar"></label>
                  <label for="r7" class="bar"></label>
                  <label for="r8" class="bar"></label>
                  <label for="r9" class="bar"></label>
                  <label for="r10" class="bar"></label>
                </div>
              </div>

            <br />

              <h3>Bailes</h3>
        <div class="slidershow middle">

                <div class="slides">
                  <input type="radio" name="r" id="r11" checked>
                  <input type="radio" name="r" id="r12">
                  <input type="radio" name="r" id="r13">
                  <input type="radio" name="r" id="r14">
                  <input type="radio" name="r" id="r15">
                  <div class="slide s1">
                    <img src="img/Fotos/Bailes/Bailes 2.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Bailes/Baile 4.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Bailes/Baile 3.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Bailes/Baile 2.jpg" alt="">
                  </div>
                  <div class="slide">
                    <img src="img/Fotos/Bailes/Baile 1.jpg" alt="">
                  </div>
                </div>
          
                <div class="navigation">
                  <label for="r11" class="bar"></label>
                  <label for="r12" class="bar"></label>
                  <label for="r13" class="bar"></label>
                  <label for="r14" class="bar"></label>
                  <label for="r15" class="bar"></label>
                </div>
              </div>
        </section>
        <br />
        <br />
        <section id="tour">
            <h2>Tour 360°</h2>
            <br />
            <img src="img/Fotos/Tour-360.jpg">
        </section>
        <br />
</main> 
